<main>
    <div class="container">
        <h1>Exploring responvise images in CSS</h1>
        <section>
            <h2>Scrset with img tag</h2>
            <img srcset="../../assets/responsive-images/poppies-2-360x800.jpg 360w,
            ../../assets/responsive-images/poppies-2-800x1150.jpg 800w,
            ../../assets/responsive-images/poppies-2-1080x1080.jpg 1080w,
            ../../assets/responsive-images/poppies-2-1280x720.jpg 1280w,
            ../../assets/responsive-images/poppies-2-1920x1080.jpg 1920w,
            ../../assets/responsive-images/poppies-2-4288x2848.jpg 4288w" sizes="(max-width: 1200px) 100vw, 1200px"
                src="../../assets/responsive-images/poppies-2-1280x720.jpg" alt="red flower">
        </section>
        <section>
            <h2>Picture tag</h2>
            <picture>
                <source srcset="../../assets/responsive-images/sunset-360x800.jpg" media="(max-width: 768px)" />
                <source srcset="../../assets/responsive-images/sunset-1280x720.jpg" media="(min-width: 900px)" />
                <source srcset="../../assets/responsive-images/sunset-800x1150.jpg" media="(min-width: 768px)" />
                <img src="../../assets/responsive-images/sunset-2048x1150.jpg" alt="sunset" />
            </picture>
        </section>
    </div>
</main>