<section class="business-infos">
  <div class="business-infos_tile">
    <div class="business-infos_tile-bg">
      <i class="fa-solid fa-truck-medical business-infos_tile-icon-bg"></i>
    </div>
    <div class="business-infos_tile-content">
      <p class="business-infos_tile-category">Lorem Amet</p>
      <h2 class="business-infos_tile-title">Emergency Cases</h2>
      <p class="business-infos_tile-description">
        Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in
        lacus convallis sodales.
      </p>
      <a class="business-infos_tile-link" href="#"
        >Learn more
        <i class="fa-solid fa-arrow-right-long business-infos_tile-icon"></i
      ></a>
    </div>
  </div>
  <div class="business-infos_tile">
    <div class="business-infos_tile-bg">
      <i class="fa-regular fa-clipboard business-infos_tile-icon-bg"></i>
    </div>
    <div class="business-infos_tile-content">
      <p class="business-infos_tile-category">Fusce Porttitor</p>
      <h2 class="business-infos_tile-title">Doctors Timetable</h2>
      <p class="business-infos_tile-description">
        Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in
        lacus convallis sodales.
      </p>
      <a class="business-infos_tile-link" href="#"
        >Learn more
        <i class="fa-solid fa-arrow-right-long business-infos_tile-icon"></i
      ></a>
    </div>
  </div>
  <div class="business-infos_tile business-infos_tile--opening-hours">
    <div class="business-infos_tile-bg">
      <i class="fa-regular fa-clock business-infos_tile-icon-bg"></i>
    </div>
    <div class="business-infos_tile-content">
      <p class="business-infos_tile-category">Donec luctus</p>
      <h2 class="business-infos_tile-title">Opening Hours</h2>
      <p class="business-infos_tile-description">
        Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in
        lacus convallis sodales.
      </p>
      <a class="business-infos_tile-link" href="#"
        >Learn more
        <i class="fa-solid fa-arrow-right-long business-infos_tile-icon"></i
      ></a>
    </div>
  </div>
</section>
