<main>
  <section class="business-infos">
    <div class="business-infos_tile">
      <div class="business-infos_tile-bg">
        <i class="fa-solid fa-truck-medical business-infos_tile-icon-bg"></i>
      </div>
      <div class="business-infos_tile-content">
        <p class="business-infos_tile-category">Lorem Amet</p>
        <h2 class="business-infos_tile-title">Emergency Cases</h2>
        <p class="business-infos_tile-description">
          Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in
          lacus convallis sodales.
        </p>
        <a class="business-infos_tile-link" href="#"
          >Learn more
          <i class="fa-solid fa-arrow-right-long business-infos_tile-icon"></i
        ></a>
      </div>
    </div>
    <div class="business-infos_tile">
      <div class="business-infos_tile-bg">
        <i class="fa-regular fa-clipboard business-infos_tile-icon-bg"></i>
      </div>
      <div class="business-infos_tile-content">
        <p class="business-infos_tile-category">Fusce Porttitor</p>
        <h2 class="business-infos_tile-title">Doctors Timetable</h2>
        <p class="business-infos_tile-description">
          Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in
          lacus convallis sodales.
        </p>
        <a class="business-infos_tile-link" href="#"
          >Learn more
          <i class="fa-solid fa-arrow-right-long business-infos_tile-icon"></i
        ></a>
      </div>
    </div>
    <div class="business-infos_tile business-infos_tile--opening-hours">
      <div class="business-infos_tile-bg">
        <i class="fa-regular fa-clock business-infos_tile-icon-bg"></i>
      </div>
      <div class="business-infos_tile-content">
        <p class="business-infos_tile-category">Donec luctus</p>
        <h2 class="business-infos_tile-title">Opening Hours</h2>
        <p class="business-infos_tile-description">
          Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in
          lacus convallis sodales.
        </p>
        <a class="business-infos_tile-link" href="#"
          >Learn more
          <i class="fa-solid fa-arrow-right-long business-infos_tile-icon"></i
        ></a>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="services_container">
      <h2 class="services_title">
        We Offer Different Services To Improve Your Health
      </h2>
      <p class="services_baseline">
        Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet.
        pretiumts.
      </p>
    </div>
    <div class="services-offers">
      <div class="services-offers_tile">
        <div class="services-offers_content">
          <i class="services-offers_tile-icon fa-solid fa-clipboard-user"></i>
          <h4 class="services-offers_tile-title">
            <a class="services-offers_tile-link" href="#">General Treatment</a>
          </h4>
          <p class="services-offers_tile-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            luctus dictum eros ut imperdiet.
          </p>
        </div>
      </div>
      <div class="services-offers_tile">
        <div class="services-offers_content">
          <i class="services-offers_tile-icon fa-solid fa-tooth"></i>
          <h4 class="services-offers_tile-title">
            <a class="services-offers_tile-link" href="#">Ear Treatment</a>
          </h4>
          <p class="services-offers_tile-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            luctus dictum eros ut imperdiet.
          </p>
        </div>
      </div>
      <div class="services-offers_tile">
        <div class="services-offers_content">
          <i class="services-offers_tile-icon fa-solid fa-heart"></i>
          <h4 class="services-offers_tile-title">
            <a class="services-offers_tile-link" href="#">Surgery</a>
          </h4>
          <p class="services-offers_tile-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            luctus dictum eros ut imperdiet.
          </p>
        </div>
      </div>
      <div class="services-offers_tile">
        <div class="services-offers_content">
          <i class="services-offers_tile-icon fa-solid fa-ear-deaf"></i>
          <h4 class="services-offers_tile-title">
            <a class="services-offers_tile-link" href="#">Ear Treatment</a>
          </h4>
          <p class="services-offers_tile-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            luctus dictum eros ut imperdiet.
          </p>
        </div>
      </div>
      <div class="services-offers_tile">
        <div class="services-offers_content">
          <i class="services-offers_tile-icon fa-solid fa-eye"></i>
          <h4 class="services-offers_tile-title">
            <a class="services-offers_tile-link" href="#">Problems</a>
          </h4>
          <p class="services-offers_tile-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            luctus dictum eros ut imperdiet.
          </p>
        </div>
      </div>
      <div class="services-offers_tile">
        <div class="services-offers_content">
          <i class="services-offers_tile-icon fa-solid fa-droplet"></i>
          <h4 class="services-offers_tile-title">
            <a class="services-offers_tile-link" href="#">Transfusion</a>
          </h4>
          <p class="services-offers_tile-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            luctus dictum eros ut imperdiet.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="meteo">
    <div class="meteo_main-content">
      <article class="meteo_article-bulletin">
        <div class="meteo_article-bulletin_wrapper">
          <img
            class="meteo_article-bulletin_img"
            src="../../assets/mediplus/meteo/bulletin.png"
            alt="bulletin"
          />
          <div class="meteo_article-bulletin_infos">
            <p class="meteo_article-bulletin_tag">Bulletin Météo-France</p>
            <p class="meteo_article-bulletin_date">Demain: samedi 29</p>
            <p class="meteo_article-bulletin_details">
              Vigilance orange "orages" lancée sur 25 départements : Charente
              (16), Charente-Maritime (17), Cher (18), Gironde (33), Landes
              (40), Deux-Sèvres (79), Vienne (86), ainsi que Bourgogne
              Franche-Comté et Grand-Est. Fort épisode pluvio-orageux sur la
              majeure partie du pays.
            </p>
            <a href="#" class="meteo_article-bulletin_link"
              >Lire le bulletin
              <i
                class="fa-solid fa-arrow-right-long meteo_article-bulletin_icon"
              ></i
            ></a>
          </div>
        </div>
      </article>
      <article class="meteo_article-editorial">
        <a class="meteo_article-editorial_link" href="#">
          <figure class="meteo_article-editorial_img-wrapper">
            <img
              class="meteo_article-editorial_img"
              src="../../assets/mediplus/meteo/visuel-1.jpg"
              alt="image"
            />
          </figure>
          <div class="meteo_article-editorial_container">
            <span class="meteo_article-editorial_tag">A la une</span>
            <h3 class="meteo_article-editorial_title">
              Œil du climat : Participez au concours photo « Vivre en France
              avec le changement climatique »
            </h3>
            <p class="meteo_article-editorial_text">
              Météo-France et GEO proposent, dès le 5 juin 2024, un grand
              concours photo autour du thème « Vivre en France avec le
              changement climatique ». Amateurs ou professionnels, tous les
              photographes sont invités à partager cet été leurs photographies
              illustrant le réchauffement de notre climat, en montrant la faune
              et la flore, les paysages, les cultures agricoles, la vie
              quotidienne et les initiatives des individus.
            </p>
          </div>
        </a>
      </article>
      <article class="meteo_article-editorial">
        <a class="meteo_article-editorial_link" href="#">
          <figure class="meteo_article-editorial_img-wrapper">
            <img
              class="meteo_article-editorial_img"
              src="../../assets/mediplus/meteo/visuel-2.jpg"
              alt="image"
            />
          </figure>
          <div class="meteo_article-editorial_container">
            <span class="meteo_article-editorial_tag">Histoire Météo</span>
            <h3 class="meteo_article-editorial_title">
              Juin 1944 : la météo au cœur du Débarquement
            </h3>
            <p class="meteo_article-editorial_text">
              Il y a 80 ans, en juin 1944, le Débarquement des forces alliées en
              Normandie ne pouvait avoir lieu que par des conditions
              météorologiques très particulières …
            </p>
          </div>
        </a>
      </article>
      <article class="meteo_article-editorial">
        <a class="meteo_article-editorial_link" href="#">
          <figure class="meteo_article-editorial_img-wrapper">
            <img
              class="meteo_article-editorial_img"
              src="../../assets/mediplus/meteo/visuel-3.jpg"
              alt="image"
            />
          </figure>
          <div class="meteo_article-editorial_container">
            <span class="meteo_article-editorial_tag">Les saisons</span>
            <h3 class="meteo_article-editorial_title">L'été</h3>
            <p class="meteo_article-editorial_text">
              Pour nous météorologues, l'été a commencé le 1er juin ! En effet,
              en météorologie, l'été couvre les mois de juin, juillet et août,
              c'est-à-dire la période la plus chaude et la plus ensoleillée de
              l'année dans l'hémisphère Nord.
            </p>
          </div>
        </a>
      </article>
      <article class="meteo_article-editorial">
        <a class="meteo_article-editorial_link" href="#">
          <figure class="meteo_article-editorial_img-wrapper">
            <img
              class="meteo_article-editorial_img"
              src="../../assets/mediplus/meteo/visuel-4.gif"
              alt="image"
            />
          </figure>
          <div class="meteo_article-editorial_container">
            <span class="meteo_article-editorial_tag">Orages</span>
            <h3 class="meteo_article-editorial_title">
              Qu'est-ce qu'un orage ?
            </h3>
            <p class="meteo_article-editorial_text">
              Un orage est un phénomène atmosphérique, caractérisé par une série
              d'éclairs et de coups de tonnerre. L'orage est toujours lié à la
              présence d'un nuage de type cumulonimbus, dit aussi nuage d'orage.
              Quels en sont les signes annonciateurs et les dangers associés ?
              Comment se protéger de la foudre ? Que se passe-t-il au cœur des
              cumulonimbus ?
            </p>
          </div>
        </a>
      </article>
    </div>
    <aside class="meteo_aside">
      <a class="meteo_aside-teaser" href="#">
        <figure class="meteo_aside-teaser_img-wrapper">
          <img
            class="meteo_aside-teaser_img"
            src="../../assets/mediplus/meteo/thumbnail-1.jpg"
            alt="image"
          />
        </figure>
        <div class="meteo_aside-teaser_infos-wrapper">
          <h3 class="meteo_aside-teaser_title">
            Printemps 2024 : le 4e printemps le plus arrosé jamais enregistré
          </h3>
          <p class="meteo_aside-teaser_date">03/06/2024</p>
        </div>
      </a>
      <a class="meteo_aside-teaser" href="#">
        <figure class="meteo_aside-teaser_img-wrapper">
          <img
            class="meteo_aside-teaser_img"
            src="../../assets/mediplus/meteo/thumbnail-2.jpg"
            alt="image"
          />
        </figure>
        <div class="meteo_aside-teaser_infos-wrapper">
          <h3 class="meteo_aside-teaser_title">
            Printemps 2024 : le 4e printemps le plus arrosé jamais enregistré
          </h3>
          <p class="meteo_aside-teaser_date">03/06/2024</p>
        </div>
      </a>
      <a class="meteo_aside-teaser" href="#">
        <figure class="meteo_aside-teaser_img-wrapper">
          <img
            class="meteo_aside-teaser_img"
            src="../../assets/mediplus/meteo/thumbnail-3.jpg"
            alt="image"
          />
        </figure>
        <div class="meteo_aside-teaser_infos-wrapper">
          <h3 class="meteo_aside-teaser_title">
            Printemps 2024 : le 4e printemps le plus arrosé jamais enregistré
          </h3>
          <p class="meteo_aside-teaser_date">03/06/2024</p>
        </div>
      </a>
      <a class="meteo_aside-teaser" href="#">
        <figure class="meteo_aside-teaser_img-wrapper">
          <img
            class="meteo_aside-teaser_img"
            src="../../assets/mediplus/meteo/thumbnail-4.gif"
            alt="image"
          />
        </figure>
        <div class="meteo_aside-teaser_infos-wrapper">
          <h3 class="meteo_aside-teaser_title">
            Printemps 2024 : le 4e printemps le plus arrosé jamais enregistré
          </h3>
          <p class="meteo_aside-teaser_date">03/06/2024</p>
        </div>
      </a>
      <a class="meteo_aside-teaser" href="#">
        <figure class="meteo_aside-teaser_img-wrapper">
          <img
            class="meteo_aside-teaser_img"
            src="../../assets/mediplus/meteo/thumbnail-5.jpg"
            alt="image"
          />
        </figure>
        <div class="meteo_aside-teaser_infos-wrapper">
          <h3 class="meteo_aside-teaser_title">
            Printemps 2024 : le 4e printemps le plus arrosé jamais enregistré
          </h3>
          <p class="meteo_aside-teaser_date">03/06/2024</p>
        </div>
      </a>
      <a class="meteo_aside-teaser" href="#">
        <figure class="meteo_aside-teaser_img-wrapper">
          <img
            class="meteo_aside-teaser_img"
            src="../../assets/mediplus/meteo/thumbnail-6.jpg"
            alt="image"
          />
        </figure>
        <div class="meteo_aside-teaser_infos-wrapper">
          <h3 class="meteo_aside-teaser_title">
            Printemps 2024 : le 4e printemps le plus arrosé jamais enregistré
          </h3>
          <p class="meteo_aside-teaser_date">03/06/2024</p>
        </div>
      </a>
    </aside>
  </section>
</main>
